attrs
backcall
bleach
certifi
chardet
Click
cloudpickle
colorama
cycler
dask
decorator
defusedxml
distributed
entrypoints
future
HeapDict
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
mistune
msgpack
nbconvert
nbformat
notebook
numpy
pandas==0.23.4
pandocfilters
parso
patsy
pickleshare
prometheus-client
prompt-toolkit
psutil
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
PyYAML
pyzmq
qtconsole
requests
scikit-learn==0.20.3
scipy
Send2Trash
six
sortedcontainers
statsmodels
tblib
terminado
testpath
toolz
tornado
tqdm
traitlets
tsfresh
urllib3
wcwidth
webencodings
widgetsnbextension
zict
